body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 238, 205);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(197, 191, 191);
    
}
ul{
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}